*
!*/

!.gitignore
!README.md

# !Lib/
# !Lib/*
# !Lib/Abyss_Watchers_Libraries/*
# !Lib/include/*
# !Lib/src/*

!release/
!release/*

!Libraries/
!libraries/*
!Libraries/doc/*
!Libraries/libraries/*
!Libraries/seekfree_components/*
!Libraries/seekfree_libraries/*
!Libraries/seekfree_peripheral/*

!User_base_lib/
!User_base_lib/*

!User_Hardware/
!User_Hardware/*

!User_Software/
!User_Software/*

!main/
!main/*

# !Objects/
# Objects/*
# !Objects/project.hex

*.DS_Store