*
!*/

!.gitignore

!Lib/
!Lib/*
!Lib/include/*
!Lib/src/*

!release/
!release/*

!Libraries/
!libraries/*
!Libraries/doc/*
!Libraries/libraries/*
!Libraries/seekfree_components/*
!Libraries/seekfree_libraries/*
!Libraries/seekfree_peripheral/*

!main/
!main/*

# !Objects/
# Objects/*
# !Objects/project.hex

*.DS_Store